mat-vertical-stepper {
  border: 1px solid rgb(228, 228, 228);
  margin-bottom: 40px;

  mat-form-field,
  button {
    margin: 10px;
  }
}

mat-card,
mat-vertical-stepper {
  margin: 25px 0;
  border: 1px solid rgb(197, 197, 197);
}

#passengerOverview {
  float: left;
  margin-bottom: 12px;
  margin-right: 50px;
}

#paymentOverview {
  float: left;
  margin-bottom: 12px;
}

#submitButton {
  clear: left;
}

strong {
  font-weight: 500;
}
