ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#logo {
  color: white;
}

li {
  float: left;
}

.active {
  background-color: #000d4d;
  text-decoration: underline !important;
}

.cursorPointer {
  cursor: pointer;
}

#navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover,
li a:focus,
li a:active {
  background-color: #000d4d;
}

#logo {
  margin-top: 7px;
  margin-right: 27px;
}

@media (min-width: 1550px) {
  #navigation {
    padding: 20px 19%;

    ul {
      right: 19%;
      position: absolute;
    }
  }
}

@media (min-width: 1060px) and (max-width: 1550px) {
  #navigation {
    padding: 20px 6%;

    ul {
      right: 6%;
      position: absolute;
    }
  }
}

@media (min-width: 600px) and (max-width: 1060px) {
  #navigation {
    padding: 20px 3%;

    ul {
      right: 3%;
      position: absolute;
    }
  }
}

@media (max-width: 360px) {

  #navigation img {
    width: 100%;
    height: auto;
  }
}
